
#title > h1 {
    font-family: Tahoma, sans-serif;
    font-size: 8vw;
    margin-bottom: 0;
    margin-top: 20px;
    color: #ffb835;
}


/* Here's the problem area!!!! 
Implement an unordered list to serve as a navigation menu, 
including links to Home, About, Services, and Contact pages. 
Style the list with CSS to create a horizontal menu with custom bullet points or icons, 
and apply hover effects to the links.*/


li > a > img {
    width: 2.5vw;
    height: 2.5vw;
    padding-top: 3px;
    padding-left: 1.5px;
    padding-right: 1.5px;
    margin-bottom: 4px;
    background-color: #ffb835;
    border-radius: 40px;
}

#menu {
    list-style: none;
    padding: 0;
    margin: 0
}
li {
    display: inline-block;
    margin-right: 20px;
    text-align: center; 
}

li > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #ffb835;
    font-size: 1.2vw;
    font-family: Tahoma, sans-serif;
}

form {
    margin-top: 20px;
}

form > label {
    font-family: Tahoma, sans-serif;
    font-size: 1.25vw;
    color: #ffb835;
}

form > input, textarea {
    margin-top: 1vw;
    font-family: Georgia, sans-serif;
    font-size: 1.2vw;
    padding: .5vw;
    border-radius: 10px;
}

form > input:focus, textarea:focus {
    background-color: #fbd99a;
}

input::placeholder, textarea::placeholder {
    color: rgb(93, 11, 11);
    line-height: 1.2;
}

footer {
    padding: 7%;
}

footer > a, #submit {
    margin: 10px;
    background-color: #1fbe81;
    border-radius: 15px;
    text-decoration: none;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
}

footer > a:hover, #submit:hover {
    color: #3f2507;
    text-decoration: underline;
    border: 3px solid #13704c9f;
    border-radius: 15px;
    box-shadow: 0px 4px 6px #13704c33
}

#title {
    background-color: #082f20;
    width: 100%;
    text-align: center;
    color: #f9c17c;
    padding: 15px;
    font-size: 2.25vw;
}

a {
    padding: 1vw;
    font-size: 1.5vw;
}

nav > * {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: wheat;
}

a:hover {
    color: #ff4000;
    text-decoration: underline;
}

li > a > img:hover {
    background-color: #ff4000;
}

header {
    background-color: rgb(8 47 32);
    width: 110vw;
    text-align: center;
    top: 0;
    z-index: 1000;
    position: fixed;
}

#gallery table {
    width: 70%;
    table-layout: fixed;
    margin: 0 auto
}

#gallery th {
    color: wheat;
    font-size: 4vw;
    padding: 10px;

}

#gallery td {
    width: 33%;
    text-align: center;
}

#gallery td:hover {
    border: 3px solid #f3f39a;
    border-radius: 2px;
    box-shadow: 0 4px 6px #f3f39a
}

#gallery .boxed {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.hidden_text {
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    display: inline-block;
    text-align: center;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
    padding: 50%;
    background: radial-gradient(circle, rgba(8, 47, 32, 0.827) 20%, rgba(0, 0, 0, 0) 50%);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.hidden_text:hover {
    opacity: 1
}

#gallery img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: black;
    padding-top: 8vw
}

table {
    border-collapse: collapse;
}

.con {
    padding: 10px;
    text-align: center;
}

table.con {
    width: 100%;
    border-collapse: collapse;
}


thead > tr > th, tbody > tr > td {
    padding: 10px;
    color: aliceblue;
  }

thead > tr > th {
    font-family: Tahoma, sans-serif;
    color: rgb(215, 31, 31);
    font-weight: bold;
  }

  #contitle {
    font-family: Tahoma, sans-serif;
    font-size: 2vw;
    margin-bottom: 0;
    margin-top: 20px;
    color: aliceblue;
    text-align: center;
  }

  tr.con:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.11);
  }